In [1]:
# importing significant modules, models & functions 
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import scipy as sp
import warnings

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

from sklearn.exceptions import ConvergenceWarning
warnings.filterwarnings("ignore", category=ConvergenceWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
random_state = 1

The dataset we will be using consist of each car model's average selling price.<br>


The data features description is as follows:
- Brand: Contains the various brands for Cars
- Price: Contains the price of the Car
- Body: Contains the name of main supporting of motor vehicle
- Mileage: Contains the number of mileage of car
- EngineV: Contains the engine version of Car
- Engine Type: Contains the type of Engine (Patrol/Gas/Diesel)
- Registration: Show whether the car is registered or not
- Year: Contains the year of manufacturing of Car
- Model: Contains the model of Car

#### Get Car data

In [2]:
df = pd.read_csv('car_sales.csv')
df.head()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4

In [4]:
print("Number of records:", len(df))

Number of records: 4345